@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("./components/fonts/Manrope-Regular.woff2") format("woff2"),
    url("./components/fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("./components/fonts/Manrope-Medium.woff2") format("woff2"),
    url("./components/fonts/Manrope-Medium.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("./components/fonts/Manrope-Semibold.woff2") format("woff2"),
    url("./components/fonts/Manrope-Semibold.woff") format("woff");
}
